In [2]:
import csv, sqlite3
import datetime
import random
import time
import pandas as pd
#import sqlalchemy 
from scipy.spatial import distance
import numpy as np

## T_test

We can use this test, if we observe two independent samples from the same or different population
The test measures whether the average (expected) value differs significantly across samples. If we observe a large p-value, for example larger than 0.05 or 0.1, then we cannot reject the null hypothesis of identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages.

In [48]:
LoanNN1= pd.read_csv("results/loan/Results_Loan_NN1_GTE.csv")
LoanNN2= pd.read_csv("results/loan/Results_Loan_NN2_GTE.csv")
avgLoanNN1=pd.read_csv("results/loan/LoanNN1_GTE_StdMean.csv")
avgLoanNN2=pd.read_csv("results/loan/LoanNN2_GTE_StdMean.csv")

$$H_0: \mu_0 = \mu_1$$     
$$H_a: \mu_0 \ne \mu_1$$

In [103]:
from scipy import stats

# we cannot reject the null

distNN1_loan= avgLoanNN1["distance_mean"]
distNN1_loan= avgLoanNN2["distance_mean"]

In [104]:
distNN1_loan.describe()

count    54.000000
mean      0.527101
std       0.156789
min       0.199519
25%       0.384462
50%       0.541980
75%       0.621274
max       0.893769
Name: distance_mean, dtype: float64

In [105]:
distNN1_loan.describe()

count    54.000000
mean      0.527101
std       0.156789
min       0.199519
25%       0.384462
50%       0.541980
75%       0.621274
max       0.893769
Name: distance_mean, dtype: float64

In [65]:
stats.ttest_ind(distNN1_loan,distNN2_loan)

Ttest_indResult(statistic=-0.026080002543576473, pvalue=0.9792425628094291)

In [36]:
stats.ttest_ind(df_LoanNN2_0['x1'],df_LoanGTE['x1'])

Ttest_indResult(statistic=-5.352501583415088, pvalue=5.057181977607313e-07)

## Time

In [41]:
time_NN2= pd.read_csv("results/time/Result_Time_NN2_GTE.csv")
time_NN1= pd.read_csv("results/time/Result_Time_NN1_GTE.csv")

In [57]:
## distance
rvs22= time_NN2["distance_mean"]
rvs11= time_NN1["distance_mean"]
stats.ttest_ind(rvs11,rvs22)

Ttest_indResult(statistic=0.8162177044709924, pvalue=0.4143853547251376)

In [59]:
rvs22.describe()

count    10000.000000
mean         1.702320
std          0.853624
min          0.539732
25%          1.181653
50%          1.580035
75%          1.819869
max          5.332931
Name: distance_mean, dtype: float64

In [60]:
rvs11.describe()

count    10000.000000
mean         1.712268
std          0.869917
min          0.558989
25%          1.186982
50%          1.529670
75%          1.810346
max          5.291888
Name: distance_mean, dtype: float64

## Normalilzed data

In [ ]:
comp_Loan50_NN1= Loan50NN1[["run","instance","first_largest","second_largest"]].merge(Loan50GTE[["instance","first_largest","second_largest"]],how= 'left', left_on="instance",right_on = "instance",
                             suffixes= ("-lime", "-GT"))## loan

In [158]:
Loan_NN1= pd.read_csv("results/loan/Results_Loan_NN1_GTE.csv")
Loan_NN2= pd.read_csv("results/loan/Results_Loan_NN2_GTE.csv")

In [159]:
c = Loan_NN1.copy()
Loan_NN1_normalized['cosine_mean_normalized'] = Loan_NN1['cosine_mean']/2
Loan_NN1_normalized['cosine_std_normalized'] = Loan_NN1['cosine_std']/2
Loan_NN1_normalized['first_correct_percentage_normalized'] = Loan_NN1['first_correct_percentage']/100
Loan_NN1_normalized['second_correct_percentage_normalized'] = Loan_NN1['second_correct_percentage']/100
Loan_NN1_normalized['all_correct_percentage_normalized'] = Loan_NN1['all_correct_percentage']/100
Loan_NN1_normalized['distance_std_normalized'] = (Loan_NN1_normalized['distance_std']-min(Loan_NN1_normalized['distance_std']))/(max(Loan_NN1_normalized['distance_std'])-min(Loan_NN1_normalized['distance_std']))

In [160]:
Loan_NN2_normalized = Loan_NN2.copy()
Loan_NN2_normalized['cosine_mean_normalized'] = Loan_NN2['cosine_mean']/2
Loan_NN2_normalized['cosine_std_normalized'] = Loan_NN2['cosine_std']/2
Loan_NN2_normalized['first_correct_percentage_normalized'] = Loan_NN2['first_correct_percentage']/100
Loan_NN2_normalized['second_correct_percentage_normalized'] = Loan_NN2['second_correct_percentage']/100
Loan_NN2_normalized['all_correct_percentage_normalized'] = Loan_NN2['all_correct_percentage']/100
Loan_NN2_normalized['distance_std_normalized'] = (Loan_NN2_normalized['distance_std']-min(Loan_NN2_normalized['distance_std']))/(max(Loan_NN2_normalized['distance_std'])-min(Loan_NN2_normalized['distance_std']))

## Loan Dist

In [125]:
Loan_NN1_dist= Loan_NN1_normalized["distance_mean"]
Loan_NN2_dist= Loan_NN2_normalized["distance_mean"]
stats.ttest_ind(Loan_NN1_dist,Loan_NN2_dist)

Ttest_indResult(statistic=-0.026080002543576473, pvalue=0.9792425628094291)

In [126]:
Loan_NN1_dist.describe()

count    54.000000
mean      0.526319
std       0.154999
min       0.214684
25%       0.393864
50%       0.537953
75%       0.619812
max       0.899654
Name: distance_mean, dtype: float64

In [128]:
Loan_NN2_dist.describe()

count    54.000000
mean      0.527101
std       0.156789
min       0.199519
25%       0.384462
50%       0.541980
75%       0.621274
max       0.893769
Name: distance_mean, dtype: float64

# TIME

In [3]:
Time_NN1= pd.read_csv("results/time/Result_Time_NN1_GTE.csv")
Time_NN2= pd.read_csv("results/time/Result_Time_NN2_GTE.csv")

In [296]:
Time_NN1_normalized = Time_NN1.copy()
Time_NN1_normalized['cosine_mean_normalized'] = Time_NN1['cosine_mean']/2
Time_NN1_normalized['cosine_std_normalized'] = Time_NN1['cosine_std']/2

Time_NN1_normalized['distance_mean_normalized'] = (Time_NN1['distance_mean']-min(Time_NN1['distance_mean']))/(max(Time_NN1['distance_mean'])-min(Time_NN1['distance_mean']))
Time_NN1_normalized['distance_std_normalized'] = (Time_NN1['distance_std']-min(Time_NN1['distance_std']))/(max(Time_NN1['distance_std'])-min(Time_NN1['distance_std']))

Time_NN1_normalized['first_correct_percentage_normalized'] = Time_NN1['first_correct%']/100
Time_NN1_normalized['second_correct_percentage_normalized'] = Time_NN1['second_correct%']/100
Time_NN1_normalized['all_correct_percentage_normalized'] = Time_NN1['all_correct%']/100

Time_NN1_normalized['distance_std_normalized'] = (Time_NN1_normalized['distance_std']-min(Time_NN1_normalized['distance_std']))/(max(Time_NN1_normalized['distance_std'])-min(Time_NN1_normalized['distance_std']))

In [297]:
Time_NN1_normalized.to_csv("results/time/Time_NN1_normalized.csv")

In [153]:
Time_NN2_normalized = Time_NN2.copy()
Time_NN2_normalized['cosine_mean_normalized'] = Time_NN2['cosine_mean']/2
Time_NN2_normalized['cosine_std_normalized'] = Time_NN2['cosine_std']/2

Time_NN2_normalized['distance_mean_normalized'] = (Time_NN2['distance_mean']-min(Time_NN2['distance_mean']))/(max(Time_NN2['distance_mean'])-min(Time_NN2['distance_mean']))
Time_NN2_normalized['distance_std_normalized'] = (Time_NN2['distance_std']-min(Time_NN2['distance_std']))/(max(Time_NN2['distance_std'])-min(Time_NN2['distance_std']))

Time_NN2_normalized['first_correct_percentage_normalized'] = Time_NN2['first_correct%']/100
Time_NN2_normalized['second_correct_percentage_normalized'] = Time_NN2['second_correct%']/100
Time_NN2_normalized['all_correct_percentage_normalized'] = Time_NN2['all_correct%']/100
Time_NN2_normalized['distance_std_normalized'] = (Time_NN2_normalized['distance_std']-min(Time_NN2_normalized['distance_std']))/(max(Time_NN2_normalized['distance_std'])-min(Time_NN2_normalized['distance_std']))

In [137]:
Time_NN1_normalized

,instance,distance_mean,distance_std,cosine_mean,cosine_std,first_correct%,second_correct%,third_correct%,all_correct%,cosine_mean_normalized,cosine_std_normalized,distance_mean_normalized,distance_std_normalized,first_correct_percentage_normalized,second_correct_percentage_normalized,all_correct_percentage_normalized
0,0,1.401886,0.018939,0.364634,0.158024,31,11,26,0,0.182317,0.079012,0.178093,0.300246,0.31,0.11,0.00
1,1,0.884915,0.034989,0.515007,0.127741,53,11,17,2,0.257504,0.063870,0.068864,0.716089,0.53,0.11,0.02
2,2,2.150411,0.029827,0.695450,0.068502,0,31,0,0,0.347725,0.034251,0.336247,0.582364,0.00,0.31,0.00
3,3,2.228234,0.022344,0.210126,0.012317,100,0,33,0,0.105063,0.006159,0.352690,0.388469,1.00,0.00,0.00
4,4,0.582680,0.022511,0.362460,0.037539,99,0,0,0,0.181230,0.018770,0.005005,0.392806,0.99,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,4.981208,0.026686,0.017392,0.003449,100,9,8,8,0.008696,0.001725,0.934357,0.500979,1.00,0.09,0.08
9996,9996,1.736061,0.033339,1.848757,0.074666,84,1,34,1,0.924379,0.037333,0.248700,0.673347,0.84,0.01,0.01
9997,9997,1.531842,0.024656,1.149759,0.094182,0,0,89,0,0.574880,0.047091,0.205551,0.448376,0.00,0.00,0.00
9998,9998,1.524127,0.011807,0.593534,0.042475,3,0,0,0,0.296767,0.021237,0.203921,0.115459,0.03,0.00,0.00
9999,9999,1.812184,0.020794,1.365379,0.044632,0,0,51,0,0.682690,0.022316,0.264784,0.348326,0.00,0.00,0.00

## dist

In [140]:
Time_NN1_dist= Time_NN1_normalized["distance_mean_normalized"]
Time_NN2_dist= Time_NN2_normalized["distance_mean_normalized"]
stats.ttest_ind(Time_NN1_dist,Time_NN2_dist)

Ttest_indResult(statistic=0.4389185257390135, pvalue=0.66072531458267)

In [141]:
Time_NN1_dist.describe()

count    10000.000000
mean         0.243673
std          0.183802
min          0.000000
25%          0.132687
50%          0.205092
75%          0.264395
max          1.000000
Name: distance_mean_normalized, dtype: float64

In [142]:
Time_NN2_dist.describe()

count    10000.000000
mean         0.242550
std          0.178091
min          0.000000
25%          0.133923
50%          0.217037
75%          0.267074
max          1.000000
Name: distance_mean_normalized, dtype: float64

In [147]:
data_loan= {"average_stdDist_NN1": [Loan_NN1_normalized["distance_std_normalized"].mean()],
   "average_stdDist_NN2": [Loan_NN2_normalized["distance_std_normalized"].mean()],
"average_stdcos_N1": [Loan_NN1_normalized["cosine_std_normalized"].mean()],
"average_stdcos_N2":[ Loan_NN2_normalized["cosine_std_normalized"].mean() ]}
data
data_loanstd= pd.DataFrame.from_dict(data_loan)

In [148]:
data_loanstd

,average_stdDist_NN1,average_stdDist_NN2,average_stdcos_N1,average_stdcos_N2
0,0.503533,0.543908,0.134549,0.135943

In [149]:
data_time= {"average_stdDist_NN1": [Time_NN1_normalized["distance_std_normalized"].mean()],
   "average_stdDist_NN2": [Time_NN2_normalized["distance_std_normalized"].mean()],
"average_stdcos_N1": [Time_NN1_normalized["cosine_std_normalized"].mean()],
"average_stdcos_N2":[ Time_NN2_normalized["cosine_std_normalized"].mean() ]}
data
data_timestd= pd.DataFrame.from_dict(data_time)

In [150]:
pd.concat([data_loanstd,data_timestd], axis = 1).to_csv("std_average2.csv")